In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv("/content/flood_risk_dataset.csv")

In [5]:
print(data.head)

<bound method NDFrame.head of        Latitude  Longitude  Rainfall (mm)  Temperature (°C)  Humidity (%)  \
0     18.861663  78.835584     218.999493         34.144337     43.912963
1     35.570715  77.654451      55.353599         28.778774     27.585422
2     29.227824  73.108463     103.991908         43.934956     30.108738
3     25.361096  85.610733     198.984191         21.569354     34.453690
4     12.524541  81.822101     144.626803         32.635692     36.292267
...         ...        ...            ...               ...           ...
9995  32.872024  93.434120     285.682635         37.621017     69.795616
9996  34.027756  69.357605     224.347263         37.935808     38.095486
9997  35.454530  76.807256       5.836759         23.087083     79.919607
9998  19.527152  80.856280     120.301453         28.029593     61.680873
9999  14.297072  72.995680      77.219394         29.622711     88.936537

      River Discharge (m³/s)  Water Level (m)  Elevation (m)    Land Cover  \
0                4236.182888         7.415552     377.465433    Water Body
1                2472.585219         8.811019    7330.608875        Forest
2                 977.328053         4.631799    2205.873488  Agricultural
3                3683.208933         2.891787    2512.277800        Desert
4                2093.390678         3.188466    2001.818223  Agricultural
...                      ...              ...            ...           ...
9995             4830.703665         5.943965    2850.197900  Agricultural
9996             1866.199787         9.466158    3314.692947        Forest
9997             1523.374305         9.209185    3377.296962        Desert
9998             2036.812638         2.004644    1146.986151    Water Body
9999             2614.166967         0.991856    8381.595028        Desert

     Soil Type  Population Density  Infrastructure  Historical Floods  \
0         Clay         7276.742184               1                  0
1         Peat         6897.736956               0                  1
2         Loam         4361.518494               1                  1
3        Sandy         6163.069701               1                  1
4         Loam         6167.964591               1                  0
...        ...                 ...             ...                ...
9995      Clay         6943.559433               0                  0
9996      Clay         3011.997459               1                  0
9997      Clay         7149.938303               1                  0
9998     Sandy          906.031452               1                  0
9999      Clay         4530.770301               1                  1

      Flood Occurred
0                  1
1                  0
2                  1
3                  0
4                  0
...              ...
9995               0
9996               0
9997               1
9998               1
9999               1

[10000 rows x 14 columns]>

In [11]:
print("Dataset Info::\n")
print(data.info())

Dataset Info::

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Latitude                10000 non-null  float64
 1   Longitude               10000 non-null  float64
 2   Rainfall (mm)           10000 non-null  float64
 3   Temperature (°C)        10000 non-null  float64
 4   Humidity (%)            10000 non-null  float64
 5   River Discharge (m³/s)  10000 non-null  float64
 6   Water Level (m)         10000 non-null  float64
 7   Elevation (m)           10000 non-null  float64
 8   Land Cover              10000 non-null  object
 9   Soil Type               10000 non-null  object
 10  Population Density      10000 non-null  float64
 11  Infrastructure          10000 non-null  int64
 12  Historical Floods       10000 non-null  int64
 13  Flood Occurred          10000 non-null  int64
dtypes: float64(9), int64(3), object(2)
memory usage: 1.1+ MB
None

In [13]:
print("\n Dataset Describe::\n")
print(data.describe())

 Dataset Describe::

           Latitude     Longitude  Rainfall (mm)  Temperature (°C)  \
count  10000.000000  10000.000000   10000.000000      10000.000000
mean      22.330627     82.631366     150.015118         29.961401
std        8.341274      8.389542      86.032127          8.669838
min        8.000337     68.004575       0.014437         15.000166
25%       15.143537     75.364428      76.124373         22.405717
50%       22.283330     82.671007     150.620428         30.000907
75%       29.460184     89.937897     223.402156         37.413488
max       36.991813     96.997820     299.970293         44.993681

       Humidity (%)  River Discharge (m³/s)  Water Level (m)  Elevation (m)  \
count  10000.000000            10000.000000     10000.000000   10000.000000
mean      59.749104             2515.722946         5.017881    4417.138177
std       23.142734             1441.706442         2.876579    2530.245421
min       20.001339                0.042161         0.002701       1.150340
25%       39.541778             1284.782376         2.538847    2229.681903
50%       59.497375             2530.451944         5.042094    4417.199761
75%       80.038163             3767.229862         7.524692    6616.729066
max       99.997772             4999.698480         9.996899    8846.894877

       Population Density  Infrastructure  Historical Floods  Flood Occurred
count        10000.000000    10000.000000       10000.000000    10000.000000
mean          5021.468442        0.502000           0.498700        0.505700
std           2882.591520        0.500021           0.500023        0.499993
min              2.289000        0.000000           0.000000        0.000000
25%           2491.766601        0.000000           0.000000        0.000000
50%           5074.392879        1.000000           0.000000        1.000000
75%           7474.228752        1.000000           1.000000        1.000000
max           9999.169530        1.000000           1.000000        1.000000

In [10]:
print("\n Missing Values Count::\n")
print(data.isnull().sum())

 Missing Values Count::

Latitude                  0
Longitude                 0
Rainfall (mm)             0
Temperature (°C)          0
Humidity (%)              0
River Discharge (m³/s)    0
Water Level (m)           0
Elevation (m)             0
Land Cover                0
Soil Type                 0
Population Density        0
Infrastructure            0
Historical Floods         0
Flood Occurred            0
dtype: int64